body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

section {
  padding: 120px 0; }

.logo {
  background: #7cc576;
  height: 20px;
  width: 20px;
  padding: 5px;
  -webkit-border-radius: 5px;
  border-radius: 50%;
  float: left;
  margin-top: 40px;
  margin-right: 10px; }

.logo--text {
  font-size: 18px;
  font-weight: bold; }

.nav-bar {
  height: 115px;
  line-height: 115px;
  font-size: 14px;
  text-transform: uppercase;
  width: 75%;
  margin: 0 auto; }
  .nav-bar a {
    float: right;
    margin: 0 20px;
    display: block;
    color: #777777;
    text-decoration: none; }
  .nav-bar a:hover, .nav-bar a:active, .nav-bar a:visited {
    color: #000; }

.titleSection {
  background-image: url("../img/title-bg.png");
  background-size: cover;
  background-position: center;
  padding: 0;
  /*to have tint work properly*/ }

.backgroundTint {
  background: rgba(0, 0, 0, 0.75);
  min-height: 530px;
  padding-top: 100px; }

.backgroundTint--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.servicesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.servicesBox {
  display: flex;
  flex-direction: row;
  align-items: center; }

.servicesIcon {
  margin: 90px 0 40px; }

.relaxSection {
  padding: 0px; }

.relaxColLeft {
  float: left;
  width: 30.5%;
  min-height: 530px;
  padding-top: 120px;
  background-image: url("../img/relax-lf-gear.png");
  background-color: #e9e9e9;
  background-repeat: no-repeat;
  background-position-x: 10vw;
  background-position-y: 120px; }

#relaxColRightTint {
  padding-left: 100px;
  padding-top: 120px; }

.relaxColRight {
  float: left;
  width: 69.5%;
  background-image: url("../img/relax-rt-bg.png");
  background-size: cover; }

.relaxDesc {
  font-size: 16px;
  color: #fff;
  text-align: left;
  position: absolute;
  top: -10px; }

#relaxTopDesc {
  position: unset;
  margin-top: 50px; }

.relaxList {
  list-style-image: url("../img/list-check.png");
  margin-bottom: 50px; }
  .relaxList li {
    position: relative;
    margin: 10px 0; }

.projectsSection {
  background-image: url("../img/projects-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  text-align: center; }

.projectsWrapper {
  width: 50%;
  margin-left: 10%;
  text-align: left; }
  .projectsWrapper h3 {
    padding-top: 8px; }
  .projectsWrapper .iconBorder {
    margin-right: 20px; }

.cultureSection {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  padding: 0px; }
  .cultureSection .title--small {
    margin-top: 25px; }

.clientsSection {
  text-align: center;
  width: 80vw;
  margin: 0 auto; }

/* font-size:22px;
18px podpis*/
.clientsBox {
  font-size: 22px;
  width: 50.1%; }

#clientsBoxRight {
  float: right; }

#clientsBoxLeft {
  float: left; }

.quoteAuthor {
  color: #7cc576;
  font-size: 18px; }

.iconBorder {
  border: 4px solid #000;
  border-radius: 50%;
  padding: 15px;
  float: left; }

.iconBorder--grey {
  border-color: #787878; }

.itemSmall {
  width: 30%;
  margin: 0 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.title {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase; }

.title--small {
  font-size: 18px; }

.title--white {
  color: #fff; }

.title--titleSection {
  font-size: 60px;
  color: white; }

.title--centered {
  text-align: center; }

.desc {
  font-size: 20px;
  color: #777777; }

.desc--small {
  font-size: 14px; }

.link {
  color: #7cc576;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }

.button {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 50px;
  background: #7cc576;
  border: none;
  border-radius: 25px;
  text-transform: uppercase; }

.button:hover {
  color: #000;
  background: #fff;
  cursor: pointer; }

.highlight {
  color: #7cc576; }

.clearfix {
  clear: both; }

/*# sourceMappingURL=main.css.map */
