$limegreen: #7cc576;
$tabletWidth: 820px;

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section{
    padding: 120px 0;
}

.logo{
    background: $limegreen;
    height: 20px;
    width: 20px;
    padding: 5px;
    -webkit-border-radius: 5px;
    border-radius: 50%;
    float: left;
    margin-top: 40px;
    margin-right: 10px;
}
.logo--text{
    font-size: 18px;
    font-weight: bold;    
}
.nav-bar{
    height: 115px;
    line-height: 115px;
    font-size: 14px;
    text-transform: uppercase;
    width:75%;
    margin: 0 auto;
    
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    a {
        float: right;
        margin: 0 20px;
        display: block;
        color: #777777;
        text-decoration: none;
        
        
    }
    a:hover, a:active, a:visited{
            color: #000;
        }
}
.nav-bar--desktop{
    @media(max-width:870px){
        display:none
    }
}

.nav-bar--mobile{
    height:unset;
    line-height: 65px;
    width:100%;
    position: fixed;
    background: #fff;
    top: -800px;
    
    a{
        float: none;
        width: 100%;
        text-align: center;
        line-height: normal;
        font-size: 20px;
        margin: 10px 0;
    }
    .logo{
        margin-top: 15px;
    }
    
}

.mobileLogoWrapper{
    margin: 0 auto;
    width: 170px;
}

.nav-burger{
    position: fixed;
    right: 30px;
    top: 30px;
    background-color: #fff;
}

.show-menu{
    top: 0px;
}

.titleSection{
    background-image: url('../img/title-bg.png');
    background-size: cover;
    background-position: center;
    padding: 0; /*to have tint work properly*/
    text-align: center;
    
    
}

.backgroundTint{
    background: rgba(0,0,0, 0.75);
    
    min-height: 530px;
    padding-top: 100px;
}
.backgroundTint--centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.servicesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
    
}

.servicesBox{
   display: flex;
   flex-direction: row; 
   align-items: center;
   @media(max-width: 820px){
        display: block;
    }
}

.servicesIcon{
    margin: 90px 0 40px;
    @media(max-width: 820px){
        margin: 10px 0;
    }
    
}

.relaxSection{
    padding: 0px;
}
$relaxTopPadding: 120px;
.relaxColLeft{
    float: left;
    width:30.5%;
    min-height: 530px;
    padding-top: $relaxTopPadding;
    background-image: url('../img/relax-lf-gear.png');
    background-color: #e9e9e9;
    background-repeat: no-repeat;
    background-position-x: 10vw;
    background-position-y: $relaxTopPadding;
    
    @media(max-width: $tabletWidth){
        display:none;
    }
}

#relaxColRightTint{
    padding-left: 100px;
    padding-top: $relaxTopPadding;
    
    @media(max-width: $tabletWidth){
        padding: 30px;
    }
}

.relaxColRight{
    float: left;
    width:69.5%;
    background-image: url('../img/relax-rt-bg.png');
    background-size: cover;
    
    @media(max-width: $tabletWidth){
        width:100%;
        
        .title{
            text-align: center;
        }
    }
    
}

.buttonCenterer{
    @media(max-width: $tabletWidth){
        text-align:center;
    }
}

.relaxDesc{
    font-size: 16px;
    color:#fff;
    text-align: left;
    position: absolute;
    top: -10px;
}
#relaxTopDesc{
    position: unset;
    margin-top: 50px;
}

.relaxList{
    list-style-image: url('../img/list-check.png');
    margin-bottom: 50px;
    li{
        position:relative;
        margin: 10px 0;
    }
}

.projectsSection{
    background-image: url('../img/projects-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    @media(max-width: $tabletWidth){
        background:#fff;
        padding:30px;
    }
}

.projectsWrapper{
    width: 50%;
    margin-left: 10%;
    text-align: left;
    @media(max-width: $tabletWidth){
        width: 100%;
        margin: 0;
    }
    
    h3{
        padding-top:8px;
    }
    .iconBorder{
        margin-right: 20px;
    }
}

.cultureSection{
    text-align: center;
    padding: 0 20vw;
    background:#f9f9f9;
    .title--small{
        margin-top:25px;
    }
}

.clientsSection{
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

.clientsBox{
    font-size: 22px;
    width: 50.1%;
    @media(max-width: $tabletWidth){
        width: 100%;
    }
}

#clientsBoxRight{
    float:right;
    @media(max-width: $tabletWidth){
        float:none;
    }
}
#clientsBoxLeft{
    float:left;
    @media(max-width: $tabletWidth){
        float:none;
    }
}

.quoteAuthor{
    color: $limegreen;
    font-size: 18px;
}

.contactSection{
    background-color: $limegreen;
    color:#fff;
    text-align: center;
    padding: 70px 0;
    .button{
        margin-top: 30px;
        border: 4px solid #fff;
        border-radius: none;
        border-radius: 10px;
    }
    .button:hover{
        color: $limegreen;
    }
}

.logoSection{
    width: 80vw;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content:center;
    img{
        margin: 20px;
    }
    
    @media(max-width: 500px){
        flex-direction: column;
    }
}

.topFooterSection{
    padding: 60px 20vw;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    color:#fff;
    
    .itemSmall{
        align-items: initial;
        @media(max-width: $tabletWidth){
            width: 400px;
            margin: 0 auto;
            .title{
                text-align: center;
            }
        }
        @media(max-width: 500px){
            width: 100%;
        }

    }
    @media(max-width:1280px){
        padding: 60px 30px;
    }
    
    @media(max-width: $tabletWidth){
        flex-direction: column;
    }
    
}
.footerLink{
    margin: 10px 0;
    
    img{
        display: block;
        float: left;
    }
    
    span{
        color: #eaeaea;
        text-decoration: none;
        display: inline-block;
        padding-left: 20px;
        width: 80%;
    }
    :hover, :hover span {
    color: $limegreen;
    }
}

.footerList{
    list-style-image: url('../img/Icon-Twitter.png');
    margin: 10px 0;
    color: #eaeaea;
    li{
        padding-left: 10px;
        margin-bottom: 10px;
        p{
            margin: 5px 0;
        }
    }
}

.hashtag{
    font-weight: bold
}
.timeStamp{
    font-size:12px;
}

.bottomFooterSection{
    position:relative;
        @media(max-width: $tabletWidth){
            p{
                text-align: center;
            }
        }
}

.footerLogoWrapper{
    position: absolute;
    top:0px;
    
    span{
        margin: 0 5px;
    }
    
    @media(max-width: $tabletWidth){
        top: 31px;
        span{
            margin: 5px;
        }
        
    }
    
}

.iconBorder{
    border: 4px solid #000;
    border-radius: 50%;
    padding: 15px;
    float: left;
    
}
.iconBorder--grey{
    border-color: #787878;
}

.iconBorder--full{
    background:#000;
}

.itemSmall{
    width: 30%;
    margin: 0 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media(max-width: 820px){
        width:100%;
    }
}
itemSmall--hover{
    ahover{
        color: $limegreen !important;
    }
}

.title{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.title--small{
    font-size: 18px;
}
.title--white{
    color:#fff;
}
.title--titleSection{
    font-size: 60px;
    color:white;
    @media(max-width:400px){
        font-size: 55px;
    }
}


.title--centered{
    text-align: center;
}

.desc{
    font-size: 20px;
    color: #777777;
}
.desc--small{
    font-size: 14px;
}

.link{
    color: $limegreen;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



.button{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 50px;
    background: $limegreen;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
}
.button:hover{
    color:#000;
    background: #fff;
    cursor: pointer;
}
.highlight{
    color: $limegreen;
}

.clearfix{
    clear: both;
}